# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Runtime artifacts
var/**
!var/
!var/logs/
!var/runs/
!var/logs/.gitkeep
!var/runs/.gitkeep

# Local editor
.vscode/

# Cache
hf-cache
model-cache
*.log
